node_modules
npm-debug.log
dist
coverage
.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
*.log
test
.prettierrc
eslint.config.mjs
tsconfig.build.json
jest.config.js
README.md
.dockerignore
Dockerfile
docker-compose.yml
